[Unit]
Description=Check the mount
Wants=network-online.target
After=network-online.target {{ storage_service_name }}
Before=docker.service

[Service]
# the start will run in a loop forever
Type=#todo
ExecStart={{ script_dir }}/{{ script_check }}
TimeoutStopSec=10s
TimeoutStartSec=10s
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target